<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!-- https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html -->
	<head th:replace="layout :: headTags"></head>

	<body>
		<nav th:replace="layout :: navBar"></nav>

		
		<div class="container">
			<div class="row">			
				<table>
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dashboardDataTempVar : ${dashboardDataHtml}">
							<td th:text="${dashboardDataTempVar.memberFname}"/>
							<td th:text="${dashboardDataTempVar.memberLname}"/>
							<td th:text="${dashboardDataTempVar.memberEmail}"/>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
