<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<!-- https://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html -->
	<head>
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container">
			<table>
				<thead>
					<tr>
						<th>Member ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Created</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="memberListHTML : ${memberListController}">
						<td th:text="${memberListHTML.memberFname}"/>
						<td th:text="${memberListHTML.memberLname}"/>
						<td th:text="${memberListHTML.memberEmail}"/>
						<td th:text="${memberListHTML.memberCreated}"/>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
