<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

	<head th:replace="layout :: headTags"></head>
	<body>
		<nav th:replace="layout :: navBar"></nav>
		<table>
			<thead>
				<tr>
					<th>Member first name</th>
					<th>Member last name</th>
					<th>Member email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="memberListTempVar : ${memberControllerList}">
					<td th:text="${memberListTempVar.memberFname}" ></td>
					<td th:text="${memberListTempVar.memberLname}"></td>
					<td th:text="${memberListTempVar.memberEmail}"></td>
					<td th:text="${memberListTempVar.memberCreated}"></td>
				</tr>
			</tbody>
		</table>
	</body>

</html>